.form-container{
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    margin-top: 30px;
    width: 300px;
    height: 300px;
    text-align: center;
    border: 1px solid black;
}
.form-textarea{
    max-width: 200px;
    max-height: 100px;
    min-width: 100px;
    min-height: 50px;
    margin-top: 10px;
}
.wrapper{
    margin-top: 15px;
}
.color-panel{
    width: 150px;
    margin-top: 7px;
    &:hover{
        cursor: pointer;
    }
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.btn{
    display: flex;
    padding: 0;
    box-sizing: border-box;
    align-items:center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    background-color: #fff;
    font-size: 15px;
    border-radius: 5px;
    &:hover{
       background-color: #bbb1b1;
       cursor: pointer;
    }
}
.subheader{
    font-size: 12px;
}
